.is-expanded {
	/*display: block;*/
}

.is-shown {
	display: initial;
}

.is-hidden {
	display: none;
}

.is-visible {
	visibility: visible;
}

.is-not-visible {
	visibility: hidden;
}