.is-expanded {
	/*display: block;*/
	display: initial;
}

.is-collapsed {
	display: none;
	cursor: pointer;
}

.is-shown {
	display: initial;
}

.is-hidden {
	display: none;
}

.is-visible {
	visibility: visible;
}

.is-not-visible {
	visibility: hidden;
}

.is-hidden-modal {
	display: none;
}

.is-shown-modal {
	display: block;
}