// @source http://smacss.com/book/type-layout
//
// Layout Rules
//
// Layout styles can also be divided into major and minor styles based on
// reuse. Major layout styles such as header and footer are traditionally
// styled using ID selectors but take the time to think about the elements
// that are common across all components of the page and use class selectors
// where appropriate.
$lato-normal: 'Lato', titillium_webbold, arial, sans-serif;

.l-left-align {
	float: left;
}

.l-right-align {
	float: right;
}

.l-center-text {
	text-align: center;
}

.l-bold {
	font-weight: bold;
}

.l-border-none {
	border: none;
}

.l-header-title {
	@extend .l-left-align;
	@media screen and (max-width: 768px) {
		width: 100%;
		margin-bottom: 0.5rem;
	}
	margin: 0 1rem;
}

.l-rounded-border {
	border-radius: 4px;
	border: 1px solid #ddd;
}

.l-header-container {
	@extend .clearfix;
	@media screen and (max-width: 768px) {
		margin: 0.5rem 0;
	}
	margin: 1.5rem 0;
}

.l-dropdown {
	@extend .l-rounded-border;
	padding: 8px 15px;
	border: 1px solid #ddd;
	background: linear-gradient(to bottom, #fcfcfc 0%,#e8e8e8 100%);
}

.l-dropdown-sm {
	@extend .l-dropdown;
	padding: 2px 0px;
}

.l-input-field {
	@extend .l-rounded-border;
	width: 100%;
	padding: 8px 10px;
	transition: box-shadow 0.5s ease;
	box-sizing: border-box;
	&:focus {
		box-shadow: inset 2px 2px 10px -2px #666;
		box-shadow: inset 2px 2px 10px -2px rgba(0, 0, 0, 0.5);
	}
	&.ghost {
		font-style: normal; //override the default booker italic style
	}
}

.l-input-field-fixed-100 {
	@extend .l-rounded-border;
	// float: left;
	width: 100px;
	padding: 8px 10px;
	transition: box-shadow 0.5s ease;
	box-sizing: border-box;
	&:focus {
		box-shadow: inset 2px 2px 10px -2px #666;
		box-shadow: inset 2px 2px 10px -2px rgba(0, 0, 0, 0.5);
	}
}

.l-field-icon {
	position: relative;
	left: -30px;
	color: #efefef;
}

.l-field-title {
	@extend .l-bold;
	display: block;
	margin: 0.5rem 0;
}

// ------------------------------------------------------------------
// Add this class if you want to add a fontawesome icon to an element,
// then specify the content of the icon in unicode
//  example:   .l-input-wrapper.l-search:before { content: "\f002"};
//------------------------------------------------------------------
.l-input-wrapper {
	position: relative;
	&:before {
		font-family: 'FontAwesome';
		position: absolute;
		color: #ddd;
		font-size: 16px;
	}
}

.l-input-wrapper.l-search:before {
	content: "\f002";
	right: 10px;
	top: 10px;
}



.l-button {
	display: block;
	padding: 10px 25px;
	color: #666;
	font-size: 16px;
	font-family: $lato-normal;
	border-radius: 4px;
	text-align: center;
	transition: text-shadow 0.5s ease;
	text-decoration: none;
	box-sizing: border-box;
}

.l-block {
	display: block;
	width: 100%;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-inline-block {
	display: inline-block;
}

.l-inline-block-margin05 {
	display: inline-block;
	margin: 0.5rem;
}

.l-inline {
	display: inline;
}

.l-container {
	@extend .clearfix;
	margin: 1rem 0;
}

//--------------------------------------------------------
// General Purpose vertical margin
//--------------------------------------------------------
.l-margin-0 {
	margin: 0;
}

.l-margin-bottom-10 {
	margin-bottom: 10px;
}

.l-margin-bottom-30 {
	margin-bottom: 30px;
}

.l-margin-10 {
	margin: 10px 0;
}

.l-margin-20 {
	margin: 20px 0;
}

.l-margin-30 {
	margin: 30px 0;
}

.l-margin-10-center {
	margin: 10px auto;
}

//---------------------------------------------------------
// General Purpose horinzontal margin
//---------------------------------------------------------
.l-margin-10-side {
	margin: 0 10px;
}

.l-margin-20-right {
	margin-right: 20px;
}

a.l-button.btn-primary {
	color: #fff;
}

a:link.l-button.btn-warning {
	color: #f40000;
}

a:link.l-button.btn-cancel {
	color: #f40000;
}

.btn-cancel {
	color: #f40000;
}
//------------------------------------------------------------
// Custom table style
// default color is two shades of gray
// for custom theme, override the default color in theme.scss
//------------------------------------------------------------
.l-table {
	width: 100%;
	border-collapse: collapse;
}

.l-table tr th,
.l-table tr td {
	text-align: left;
	padding: 0.5rem;
}

.l-table tr {
	border-left: 1px solid rgba(179,179,179,1);
	border-right: 1px solid rgba(179,179,179,1);
	border-bottom: 1px dashed rgba(179,179,179,1);
	background-color: #fff;
}

.l-table tbody tr {
	&:nth-of-type(odd)  {
		background-color: rgba(248,248,248,1);
	}
	&:nth-of-type(1) {
		background-color: rgba(229,229,229,1);
	}
}

.l-table tr:last-child {
	border-bottom: 1px solid rgba(179,179,179,1);
}

.l-table tr td:last-child {
    width:1%;
    white-space:nowrap;
}


.l-table th {
	@media screen and (max-width: 768px) {
		display: none;

		&:first-child {
			display: block;
			float: left;
		}

		&:last-child {
			display: block;
			float: right;
		}
	}
}

.l-table tr td {

	@media screen and (max-width: 768px) {
		display: block;
		float: left;
		padding: 1rem;
		&:not(:first-child) {
			display: none;
		}

		&:last-child {
			display: block;
			float: right;
		}
	}
}

.l-table tr th.l-center-text,
.l-table tr td.l-center-text {
	text-align: center;
}

.l-table .l-table-header {
	background-color: rgba(228,228,228,1);
	border-top: 1px solid rgba(179,179,179,1);
	border-bottom: 1px solid rgba(179,179,179,1);
}

.l-table-header-title {
	font-size: 18px;
}

.l-table-item-control {
	@extend .l-center-text;
	@media screen and (max-width: 768px) {
		.l-table-item-edit {
			display: block;
			float: right;
			width: 2rem;
		}

		.l-table-item-delete {
			display: none;
		}
	}
}

.l-table-col-name {
	@media screen and (max-width: 768px) {
		display: none;
	}
	tr {
		border-left: none;
		border-right: none;
	}
}

.l-table.l-table-col-name tr {
	background-color: #fff;
}

//use to add margin between tbody's within the same table
.l-tbody-separator {
	&:after {
		content: "\00A0"; // (NO-BREAK SPACE) utf-8 character
		display: block;
		margin: 5px 0;
	}
}

// for the last tbody (ungrouped employees), style without border
.l-table {
	tbody.ungrouped-employees {
		tr {
			border-left: none;
			border-right: none;
		}
		.l-table-header {
			border: none;
			border-bottom: 1px solid #b3b3b3;
			background: #fff;
		}
	}
}

.l-field-row {
	@extend .clearfix;
    margin: 15px auto;

    label {
    	display: block;
    	margin: 0.3rem 0;
    	font-weight: bold;
    }
	
	select {
		width: 100%;
	}

}

.l-input-group {
	position: relative;
	float: left;
	width: 49%;

	&:nth-child(1) {
		margin-right: 2%;
	}

	// override XLib:XPhoneExtControl default table style
	&> table {
		display: block;
		width: 100%;
		
	}

	tbody, tr, td {
		display: block;
	}

	@media screen and (max-width: 768px) {
		width: 100%;
		margin: 0;
	}
}

.l-input-group {
	&.l-full-width {
		width: 100%;
	}
}
//-------------------------------------
// 3 column layout
//-------------------------------------
.l-row {
	@extend .clearfix;
}

.l-3column-container {
	@extend .clearfix;
	@extend .l-margin-10;
}



//----------------------------------------------------------------------------
// An On-OFF radio group targeted specifically for Web Forms table structure
//----------------------------------------------------------------------------
.l-radio-button-group {
	@extend .clearfix;
	display: block;
	border-collapse: collapse;
	
	tbody, tr {
		display: block;
		width: 100%;
	}
	
	td {
		display: block;
		float: left;
		width: 50%;
		padding: 1px;
		text-align: center;
		box-sizing: border-box;
	}

	td label {
		border: 1px solid #666;
		width: 100%;
		padding: 0.6rem 0;
		background: #fff;
	}

	td:first-of-type label {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	td:last-of-type label {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	input[type=radio] {
		display: none;
	}
	
	input[type=radio]:checked + label {
		// border: 1px solid #666;
		color: #fff;
		// background: #666;
	}

	label {
	    display: inline-block;
	    cursor: pointer;
	    position: relative;
	    font-size: 1rem;
	    margin: 0;
	    padding: 0.6rem 4rem;
	    overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.l-radio-button-group {
	&.l-3-radio-button-group {
		td {
			width: 33.33%;
		}
	}
}

//---------------------------------------------------------
// A clickable anchor which expand and reveals more detail
//---------------------------------------------------------
.l-expand-link {
	display: block;
	margin: 0.5rem 0;
	font-size: 18px;
	font-weight: 700;
}

//---------------------------------------------------------------
// A multi-select styled specifically for Web Forms CheckBoxList
//---------------------------------------------------------------
.l-multi-select {
	@extend .clearfix;
	border-collapse: collapse;
	display: block;
	width: 100%;
	padding: 0.5%;
	background: #fff;

	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;

	tbody, tr {
		display: block;
	}
	td {
		display: block;
		float: left;
		width: 49%;
		margin: 0.5%;
		box-sizing: border-box;
	}
	input[type=checkbox] {
		display: none;
		& + label {
			position: relative;
			display: block;
			padding: 8px 16px;
			border-radius: 4px;
			background: #fff;
			color: #666;
			cursor: pointer;

			&:before {
				content: "\f00c";
				font-family: FontAwesome;
				color: #fff;

				position: absolute;
				right: 10px;
			}
		}
		
		&:checked {
			& + label {
				position: relative;
				display: block;
				border-radius: 4px;
				background: #666;
				color: #fff;
			}
		}

		&:disabled {
			& + label {
				opacity: 0.5;
			}
		}
	}

	@media screen and (max-width: 768px) {
		padding: 1%;
		td {
			width: 100%;
			margin: 0;
		}
		input[type=checkbox] {
			display: none;
			& + label {
				padding: 16px;
			}
		}
	}
}

.l-2column-container {
	.l-2column {
		width: 50%;
		float: left;
		box-sizing: border-box;

		&:first-of-type {
			padding-right: 5%;
		}
		@media screen and (max-width: 768px) {
			width: 100%;
			&:first-of-type {
				padding-right: 0;
			}
		}
	}
}

// A basic version of 3 columns layout,
// fluid, not based on fixed width grid system
.l-3column-container {
	.l-3column {
		width: 33.33%;
		@media screen and (max-width: 768px) {
			width: 100%;
			padding-right: 0;
		}
	}
}
.l-3column {
	float: left;
	width: 33.33%;
	padding-right: 10px;
	box-sizing: border-box;
	
	&.l-3column-two-third {
		width: 66.66%;
	}
	&.l-3column-last {
		padding-right: 0;
	}
	@media screen and (max-width: 768px) {
		width: 100%;
		padding-right: 0;

		&.l-3column-two-third {
			width: 100%;
		}
	}
}

.l-4column {
	float: left;
	width: 25%;
	padding-right: 10px;
	box-sizing: border-box;
	@media screen and (max-width: 768px) {
		width: 100%;
		padding-right: 0;
	}
}

.l-custom-error {
	width: 250px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 6px -2px #666;
	padding: 10px;
	z-index: 1;
	background: #f8f8f8;
	box-sizing: border-box;
}

//apply this to asp:checkbox :)
.l-checkbox {
	input[type=checkbox] {
		display: none;
	}

	label {
		padding: 5px 8px;
		color: #666;
		cursor: pointer;
	}

	input[type=checkbox]:checked {
		& + label {
			padding: 5px 8px;
			background: #666;
			border-radius: 4px;
			color: white;
		}
	}
}

.checkbox-tag {
	position: absolute;
	top: 30px;
	right: 5px;
	display: inline-block;
	input[type=checkbox] {
		display: none;
		& + label {
			background: #fff;
			padding: 3px 4px;
			// border: 1px solid #666;
			// color: #666;
			border-radius: 4px;
			cursor: pointer;
		}
	}

	input[type=checkbox]:checked {
		& + label {
			// background: #666;
			position: relative;
			color: #fff;
		}
	}
}

//---------------------------------------------------------
// General Purpose horinzontal padding
//---------------------------------------------------------
.l-padding-5 {
	padding: 0 5px;
}

.l-padding-10 {
	padding: 0 10px;
}

.l-width-70pc {
	width: 70%;
}

.l-width-50pc {
	width: 50%;
}

.l-width-40pc {
	width: 40%;
}

.l-width-30pc {
	width: 30%;
}

.l-width-20pc {
	width: 20%;
}

.l-full-width {
	width: 100%;
}