// @source http://smacss.com/book/type-theme
//
// Theme Rules
//
// Themes can affect any of the primary types. They can
// override base styles like default link colours. They can change
// module elements such as colours and borders. They can affect
// layout with different arrangements. They can also alter how states look.

// check out the theming mixin in utilities/_mixins.scss

// ==========================================================================
// $Themes
// uncomment lines below and rename as needed
// ==========================================================================

// $theme  : 'defaulttheme';

// @import 'styles';
/*
Bright Blue Theme (Default)
#0b93c5 dark gradient color
#58b8dc light gradient color
#91dbf6 unselected tab color, section nav bottom border
#00aeef selected section nav color, selected tab text, selected tab border
#bdebfc menu hover bg
*/
$primary-color: #0b93c5;
$secondary-color: #00aeef;
$inactive-color: #91dbf6;


h1 {
	color: $primary-color;
}

.filter-tag {
	background: $primary-color;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline-color: $primary-color;
}

.btn-primary {
	color: #fff;
	background-color: $primary-color;
}

a.btn-primary {
	@extend .btn-primary;
}

.employees {
	input[type='submit'] {
		@extend .btn-primary;
	}
}

.l-table-col-name {
	color: $primary-color;
}

.l-radio-button-group {
	td label {
		border: 1px solid $primary-color;
		color: $primary-color;
	}

	input[type=radio]:checked + label {
		border: 1px solid $primary-color;
		color: #fff;
		background: $primary-color;
	}
}

//-------------------------------------
// specific for Booker image uploader
//-------------------------------------
.AjaxPhotoUploader-UploadLink {
	span {
		color: $primary-color;
	}
}

.employee-dialog .l-field-title {
	color: $primary-color;
}
.l-input-group {
	label {
		color: $primary-color;
	}
}

.employee-dialog {
	.additional-field-title {
	color: $primary-color;
	}
}

.set-hours-slider .ui-slider-handle.ui-state-default {
	background: $primary-color;
}

.set-hours-slider .ui-slider-handle:before {
	border-color: transparent transparent $primary-color transparent;
}

.set-hours-slider .ui-slider-range.ui-widget-header {
	background-color: $primary-color;
	border-color: $primary-color;
	color: $primary-color;
}

.l-multi-select {
	input[type=checkbox] {
		& + label {
			color: $primary-color;
		}

		&:checked {
			& + label {
				background: $primary-color;
			}
		}
	}
}

.l-up-down-control {
	.up-down-dec {
		background: $primary-color;
	}

	.up-down-inc {
		background: $primary-color;
	}

	.up-down-value {
		color: $primary-color;
		border: 1px solid $primary-color;
	}
}

// Schedule Tab Menu
.tab-trigger.ui-state-default {
	
	&.ui-state-active.ui-tabs-active {
		border: 1px solid $secondary-color;
		background-color: $primary-color;

		a {
			color: currentcolor;
		}
	}

	&.ui-state-hover {
		background-color: $secondary-color;
		border: 1px solid $primary-color;
		
		a {
			color: #fff;
		}
	}
}