// @source http://smacss.com/book/type-module
//
// Module Rules
//
// As briefly mentioned in the previous section, a Module is a more discrete
// component of the page. It is your navigation bars and your carousels and
// your dialogs and your widgets and so on. This is the meat of the page.
// Modules sit inside Layout components. Modules can sometimes sit within
// other Modules, too. Each Module should be designed to exist as a standalone
// component. In doing so, the page will be more flexible. If done right,
// Modules can easily be moved to different parts of the layout without
// breaking.
//
// When defining the rule set for a module, avoid using IDs and element
// selectors, sticking only to class names. A module will likely contain a
// number of elements and there is likely to be a desire to use descendent
// or child selectors to target those elements.
$primary-font-color: #666;
$slider-color: #666;
.apply-button {
	@extend .l-button;
}

.employee-basic-info {
	margin-bottom: 20px;
}

.filter-search-container {
	@extend .l-right-align;
	@extend .clearfix;
	@media screen and (max-width: 768px) {
		position: static;
		width: 100%;
	}
	position: relative;
	top: -10px;
	width: 240px;
}

.filter-search {
	@media screen and (max-width: 768px) {
		position: static;
		width: 100%;
	}
	position: absolute;
	height: 55px;
	background-color: #fff;
	overflow: hidden;
	transition: height 0.5s;
}

.filter-tag-container {
	@extend .l-inline-block;
}

.filter-search.is-expanded {
	@media screen and (max-width: 768px) {
		border-radius: 0px;
		box-shadow: none;
	}
	display: block;
	height: 345px;
	background-color: #f8f8f8;
	border: 1px solid #b3b3b3;
	border-radius: 4px;
	box-shadow: 0px 15px 40px -15px;
}

.filter-tag {
	/*theme color*/
	position: relative;
	padding: 8px 28px 8px 8px;

	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}

.filter-tag:before {
	content: "\f00d";
	font-family: 'FontAwesome';
	position: absolute;
	top: 10px;
	right: 8px;
}

.btn-add {
	@extend .l-bold;
	padding: 5px;
	font-family: Lato, titillium_webregular, sans-serif;
}

.employee-count {
	@extend .l-container;
	@extend .l-inline-block;
	@media screen and (max-width: 768px) {
		display: none;
	}
}

.employee-gender {
	color: #b3b3b3;
	font-size: 1.3rem;
}

// ============================================
// Courage attempt to restyle jQuery UI dialog
// ============================================
// .employee-dialog {
// 	&.ui-widget {
// 		@media screen and (max-width: 768px) {
// 			border-radius: 0;
// 		}

// 		font-family: $lato-normal;
// 		font-size: 1rem;
// 		border-radius: 4px;
// 		input,
// 		textarea,
// 		select {
// 			box-sizing: border-box;
// 			font-family: $lato-normal;
// 			font-size: 1.1rem;
// 		}
		
// 		textarea {
// 			resize: none;
// 		}

// 		.l-input-field {
// 			width: 100%;
// 		}

// 		textarea {
// 			width: 100%;
// 			height: 120px;
// 		}

// 		.ui-widget-content {
// 			padding: 0;
// 		}
// 	}
	
// 	&.ui-widget-content {
// 		background-color: #f8f8f8;
// 		background-image: none;
// 	}
	
// 	&.ui-dialog {
// 		padding: 2rem;
// 		z-index: 1002; //TODO: reduce z-index!
// 		.ui-dialog-titlebar-close span {
// 			display: none;
// 		}
		
// 		@media screen and (max-width: 768px) {
// 			position: fixed;
// 			width: 90%!important;
// 			min-height: 100%!important;
// 			padding: 5%;
// 		}

// 		.ui-dialog-titlebar-close {
// 			width: 40px;
// 			height: 40px;
// 			top: 0;
// 			right: 0;
// 			background: #f8f8f8;
// 			&:before {
// 				content: "\f00d";
// 				font-family: FontAwesome;
// 				font-size: 2rem;
// 				color: #666;
// 			}
// 			&.ui-state-hover {
// 				background: #f8f8f8;
// 			}
// 		}
// 	}

// 	h2 {
// 		font-family: $lato-normal;
// 	}
	
// 	.ui-widget-header {
// 		border: none;
// 		background: none;
// 	}

// 	//really bad, need a way to change this
// 	.ui-datepicker-trigger {
// 		position: absolute;
// 		top: 40px;
// 		right: 10px;
// 	}
// }

//----------------------------------------------
// A custom modal
//---------------------------------------------
.employee-dialog {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	max-width: 800px;
	min-width: 320px;
	height: auto;
	margin: 1rem auto;
	z-index: 1002;

	@media screen and (max-width: 768px) {
		width: 96%!important;
		min-height: 100%!important;
		margin: 0;
		padding: 2%;
		border-radius: 0;
		margin-bottom: 65px; //compensate fixed footer height

		.ui-dialog-titlebar-close {
			width: 40px;
			height: 40px;
			top: 0;
			right: 0;
			background: #f8f8f8;
			&:before {
				content: "\f00d";
				font-family: FontAwesome;
				font-size: 2rem;
				color: #666;
			}
			&.ui-state-hover {
				background: #f8f8f8;
			}
		}
	}

	font-family: $lato-normal;
	font-size: 1rem;
	border-radius: 4px;
	input,
	textarea,
	select {
		box-sizing: border-box;
		font-family: $lato-normal;
		font-size: 1.1rem;
	}
	
	textarea {
		resize: none;
	}

	.l-input-field {
		width: 100%;
	}

	textarea {
		width: 100%;
		height: 120px;
	}

	.ui-widget-content {
		padding: 0;
	}
	
	background-color: #f8f8f8;
	background-image: none;
	
	padding: 2rem;
	z-index: 1002; //TODO: reduce z-index!
	.ui-dialog-titlebar-close span {
		display: none;
	}
	
	h2 {
		font-family: $lato-normal;
	}

	.ui-widget-header {
		border: none;
		background: none;
	}

	//really bad, need a way to change this
	.ui-datepicker-trigger {
		position: absolute;
		top: 40px;
		right: 10px;
	}

	.employee-dialog-close {
		position: absolute;
		right: 20px;
		top: 10px;
		font-size: 2rem;
	}
}

.employee-dialog-overlay.is-shown-modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	background-color: rgba(0,0,0, 0.5);
	z-index: 1001;
}

.employee-dialog-title {
	margin-top: 0;
}

.employee-dialog-footer {
	@media screen and (max-width: 768px) {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		margin: 0;
		padding: 1rem 0;
		background: #f8f8f8;
		box-shadow: 0 -1px 13px -3px;
		z-index: 2;
	}
	@extend .l-margin-20;
	text-align: center;
}
// ============================================
// Courage attempt to restyle image uploader
// ============================================
.image-container {
	@media screen and (max-width: 768px) {
		display: none;
	}

	@extend .l-rounded-border;
	@extend .l-inline-block;
	height: 280px;
	width: 100%;
	background-color: #fff;

	// overwrite image uploader styles
	.uploader-control,
	.xImageUploader {
		display: block;
		width: 100%;
		height: 100%;
	}
	
	.xImageUploader {
		tbody,
		tr,
		td,
		a {
			display: block;
			text-align: center;
		}
		
		td:nth-of-type(3) {
			position: relative;
			top: -20px;
		}

		.no-image {
			display: block;
			height: 200px;
			width: 200px;
			margin: 25px auto 10px;
			background: #f8f8f8;
			color: #f8f8f8; //text color same as background so it appears to be hidden
			outline: 1px solid #ddd;
			overflow: hidden;

			&:before {
				content: "\f17c"; // \f007
				font-family: FontAwesome;
				color: #666;
				//font-size: 13rem;
				//left: 16px;
				font-size: 23rem;
				left: -4rem;
				top: 1rem;
				position: relative;
			}
		}
	}
	
	#ctl00_ctl00_content_content_ctlNewEditEmployee_ctlPhoto .ajaxPhotoUploader-ThumbnailImg {
		padding: 20px 20px 0 20px;
	}

	#ctl00_ctl00_content_content_ctlNewEditEmployee_ctlPhoto .ajaxPhotoUploader-ThumbnailImg img {
		margin: 0 auto;
		height: 200px;
		width: 200px;
	}

	.ajaxPhotoUploader-ThumbnailImg {
		margin: 25px auto 0;
	}

	.AjaxPhotoUploader-UploadLink {
		margin-top: 5px;
	}

	.AjaxPhotoUploader-DeleteLink {
		position: relative;
		top: -12px;
	}
}

#additional-fields-expander {
	&.is-inactive {
		#toggle-additional-fields-link {
			&:before,
			&:after {
				content: "\f078";
				font-family: FontAwesome;
			}
		}
	}

	&.is-active {
		#toggle-additional-fields-link {
			&:before,
			&:after {
				content: "\f077";
				font-family: FontAwesome;
			}
		}
	}
}

.additional-field-link {
	display: block;
	margin: 0.5rem 0;
	font-size: 18px;
	font-weight: 700;
}

.additional-field-title {
	@extend .l-bold;
	margin: 0.5rem 0;
}

#toggle-additional-fields-link {
	font-size: 18px;
}

.image-uploader-container {
	@extend .l-3column;
}

.employee-form {
	@extend .l-left-align;
	width: 67%;
	margin-top: -15px;
}

#employment-end-date {
	position: relative;

	.ui-datepicker-trigger {
		top: 47px; //TODO: magic number
	}
}
//-------------------------------------------------
//
//------------------------------------------------
.toggle-panel {
	margin-bottom: 1rem;
	border-top: 1px dashed #666;
}

.toggle-panel:last-of-type {
	border-bottom: 1px dashed #666;
}

h2.toggle-panel-trigger {
	cursor: pointer;
	font-size: 18px;

	i {
		top: 3px;
		font-size: 1.8rem;
		margin-right: 1.5rem;
	}
}
//---------------------------------------------
// A module specific for Web Forms UpDownControl
//----------------------------------------------

.l-up-down-control {

	.updown {
		display: block;
		float: left;
		margin-right: 0.5rem;
	}
	
	.up-down-name {
		display: block;
		float: left;
		width: 110px;
	}

	.up-down-dec {
		padding: 0.5rem;
		color: white;
		background: #666;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	.up-down-inc {
		padding: 0.5rem;
		color: white;
		background: #666;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;

		position: relative;
		left: -2px;
	}

	.up-down-value {
		padding: 7px 20px;
		background: white;
		border: 1px solid #666;
		margin: 0;
		display: inline;
	}
}
//------------------------------------
// 4 week slider tab menu
// customized the look of jquery tab to match the current theme
//------------------------------------
#week-hours-tabs {
	&.ui-widget-content {
		border: none;
	}

	select {
		font-size: 1rem;
		font-family: Lato, titillium_webregular, sans-serif;
	}
}
.week-hours-container.ui-tabs-panel{
	&.ui-widget-content {
		padding: 1rem 0;
		background: #f8f8f8;
		border: none;
	}
}

.tab-trigger.ui-state-default {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	&.ui-state-active.ui-tabs-active {
		border: 1px solid #aaa;
		background-image: none;
		background-color: #666;
		font-weight: bold;
		color: #fff;

		a {
			color: currentcolor;
		}
	}

	&.ui-state-hover {
		background-color: #f3f3f3;
		background-image: none;
		border: 1px solid #ccc;
		
		a {
			color: #666;
		}
	}
}

.week-title {
	@extend .l-margin-10;
	span {
		font-size: 18px;
	}
}

//--------------------------------------
// schedule slider
//--------------------------------------
.day-type {
	float: left;
}
.schedule-workday {
	width: 650px;
	float: right;
	position: relative;
	top: -20px;

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

.slider-wrapper {
	display: block;
	float: left;
	//height: 160px; //temporary
	width: 650px;
	@media screen and (max-width: 768px) {
		width: 100%;
		margin: 2rem 0;
	}
}

.schedule-slider {
	position: relative;
	height: 55px;
}

@media screen and (max-width: 768px) {
	.employee-form {
		width: 100%;
	}

	#additional-fields-expander {
		margin: 1.5rem 0;
		text-align: center;
	}

	.updown {
		margin-bottom: 20px;
	}
	.up-down-name {
		text-align: center;
	}
}


//----------------------------------------------------------
// schedule slider, styles copied from onboarding ember app
//----------------------------------------------------------
/* Setting hours of operation */
.hours-left-circle {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #ccc;
	color: white;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 30px;
}

.hours-right-circle {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #ccc;
	color: white;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 30px;
	left: 100%;
}

.set-hours {
	position: relative;
}

.set-hours-track {
	position: absolute;
	top: 34px;
	width: 100%;
	margin: 0;
	height: 1px;
	background-color: #ccc;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
}

.set-hours-slider.ui-slider.ui-slider-horizontal {
	position: absolute;
	display: inline-block;
	width: 90%;
	margin: 0;
	height: 1px;
	background: #ccc;
	border-color: #ccc;
	border-style: solid;
	top: 34px;
	left: 2%;
}

.set-hours-slider .ui-slider-handle.ui-state-default {
	background: $slider-color;
	border-radius: 5px;
	width: 60px;
	height: 30px;
	color: #fff;
	font-size: 14px;
	border-radius: 5px;
	border-width: 0;
	text-align: center;
	line-height: 26px;
	top: -16px;
	cursor: pointer;
	outline: none;
	text-decoration: none;
}

.set-hours-slider .ui-slider-range.ui-widget-header {
	background-color: $slider-color;
	border-color: $slider-color;
	color: $slider-color;
	height: 2px;
}

.set-hours-slider .ui-slider-handle:hover {
	text-decoration: none;
}
.set-hours-slider .ui-slider-handle:active {
	text-decoration: none;
}

.set-hours-slider .ui-slider-handle:before {
	content: ' ';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent $slider-color transparent;
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -10px;
}

.add-hours {
	color: $slider-color;
	cursor: pointer;
	display: inline-block;
	width: 820px;
	margin: 0 -5px;
	text-align: center;
	font-size: larger;
	font-family: titillium_bdbold;
}

.add-hours .fa {
	font-size: larger;
	position: relative;
	top: 2px;
}

.set-hours-open-time, .set-hours-close-time {
	position: absolute;
	display: inline-block;
	font-size: 16px;
	color: #666;
}

.close-time-tag, .open-time-tag {
	position: absolute;
	display: inline-block;
	background: #f8f8f8;
	width: 75px;
	font-size: 16px;
	color: #666;
}
.slide-tag-container {

}

.set-hours-slider {
	.ui-slider-handle:first-of-type:after {
		content: "Start";
		font-family: $lato-normal;
		font-size: 1rem;
	}

	.ui-slider-handle:last-of-type:after {
		content: "End";
		font-family: $lato-normal;
		font-size: 1rem;
	}
}

//------------------------------------------------------------
// A more specified version of .l-multi-select
// targeted for Services, which its labels has two row of text
//------------------------------------------------------------
.service-multi-select {
	input[type=checkbox] {
		& + label {
			&:before {
				position: absolute;
				top: 15px;
				font-size: 1.5rem;
			}
		}
	}
	@media screen and (max-width: 768px) {
		input[type=checkbox] {
			& + label {
				&:before {
					position: absolute;
					top: 20px;
					font-size: 1.5rem;
				}
			}
		}
	}
	
}